{% extends "index.html" %}

{% load staticfiles %}

{% block style %}
    <link href="{% static 'bootstrap/css/bootstrap-datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-fileinput.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'bootstrap/js/jquery-datatables.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datatables.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-fileinput.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-fileinput.zh.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'scripts/js/create.js' %}"></script>
    <script>
        var app = eval("{{ data.apks|escapejs }}".replace(/u'/g, "'"));
        var device = eval("{{ data.devices|escapejs }}".replace(/u'/g, "'"));
        var sdk = eval("{{ data.sdks|escapejs }}".replace(/u'/g, "'"));
        var province = eval("{{ data.province|escapejs }}".replace(/u'/g, "'"));
        var city = eval("{{ city|escapejs }}".replace(/u'/g, "'"));
    </script>
{% endblock %}

{% block content %}
    <div id="content" class="bs-docs-header" tabindex="-1">
        <div class="container">
            <h1>脚本管理</h1>
            <p>支持新建脚本</p>
        </div>
    </div>

    <div class="container">
        <form class="form-horizontal" method="post" action="{% url "scripts:save" %}" autocomplete="off"
              enctype="multipart/form-data">
            {% csrf_token %}
            <input name="id" type="hidden" value="{{ data.id }}">
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="dataType" class="col-sm-2 control-label">数据类型:</label>
                <div class="col-sm-2">
                    <select class="form-control input-sm" name="dataType" required="required">
                        {% if data.data_type %}
                            <option value="js">{{ data.data_type }}</option>
                        {% else %}
                            <option value="Js">Js</option>
                            <option value="Lua">Lua</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTimeLimit" class="col-sm-2 control-label">时段限制:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputTimeLimit" name="inputTimeLimit"
                           value="{% if data %}{{ data.time_slot_limit }}{% endif %}" placeholder="" readonly>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-info" id="buttonSetTime">设置时段</button>
                </div>
            </div>
            <div class="form-group" id="singleLimit" hidden>
                {% for i in sequence %}
                    <label for="inputTimeLimit" class="col-sm-2 control-label">{{ i }}:00</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="singleTimeLimit_{{ i }}"
                               name="singleTimeLimit_{{ i }}"
                               value="{% if data %}{{ data.time_slot_limit }}{% endif %}">
                    </div>
                {% endfor %}
                <label for="timeLimit_total" class="col-sm-2 control-label">合计</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="timeLimit_total" name="timeLimit_total"
                           value="{% if data %}{{ data.time_slot_limit }}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="scriptState" class="col-sm-2 control-label">状态:</label>
                <div class="col-sm-2">
                    <select class="form-control input-sm" name="scriptState" required="required">
                        <option value=0>上线</option>
                        <option value=1>下线</option>
                        <option value=2>定向测试</option>
                    </select>
                </div>
            </div>
            <fieldset>
                <div class="form-group">
                    <label for="effectiveTime" class="col-sm-2 control-label">生效时间:</label>
                    <div class="col-sm-3">
                        <input type="datetime-local" class="form-control" id="effectiveTime" name="effectiveTime"
                               value="{% if data %}{{ data.effective_time }}{% endif %}" placeholder="请选择时间" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="invalidTime" class="col-sm-2 control-label">失效时间:</label>
                    <div class="col-sm-3">
                        <input type="datetime-local" class="form-control" id="invalidTime" name="invalidTime"
                               value="{% if data %}{{ data.invalid_time }}{% endif %}" placeholder="请选择时间" required>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="taskType" class="col-sm-2 control-label">任务类型:</label>
                <div class="col-sm-2">
                    <select class="form-control input-sm" name="taskType" required="required">
                        <option value=0>持续性</option>
                        <option value=1>一次性</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="osType" class="col-sm-2 control-label">系统类型:</label>
                <div class="col-sm-2">
                    <select class="form-control input-sm" name="osType" required="required">
                        <option value=0>Android</option>
                        <option value=1>Ios</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="inputScriptName" class="col-sm-2 control-label">名称:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputScriptName" name="inputScriptName"
                           value="{% if data %}{{ data.name }}{% endif %}" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputScriptHot" class="col-sm-2 control-label">热度:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputScriptHot" name="inputScriptHot"
                           value="{% if data %}{{ data.hot }}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputUrl" class="col-sm-2 control-label">URL地址:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputUrl" name="inputUrl"
                           value="{% if data %}{{ data.url }}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="inputScriptFile" class="col-sm-2 control-label">脚本文件:</label>
                <div class="col-sm-4">
                    <input type="file" class="file" id="inputScriptFile" name="inputScriptFile"
                           data-allowed-file-extensions='["js","lua"]' data-show-upload="false" maxFileSize="1024" required>
                </div>
            </div>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="inputKeyFile" class="col-sm-2 control-label">密钥文件:</label>
                <div class="col-sm-4">
                    <input type="file" class="file" id="inputKeyFile" name="inputKeyFile"
                           data-allowed-file-extensions='["pem"]' data-show-upload="false" maxFileSize="1024" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputScriptNumber" class="col-sm-2 control-label">脚本编号:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputScriptNumber" name="inputScriptNumber"
                           value="{% if data %}{{ data.number }}{% endif %}">
                </div>
                <div class="col-sm-4">
                    <p style="color: red">同一类脚本填写的编号一样，独立的默认为空</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputClassName" class="col-sm-2 control-label">类名:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputClassName" name="inputClassName"
                           value="{% if data %}{{ data.class_name }}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputMethodName" class="col-sm-2 control-label">函数名:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputMethodName" name="inputMethodName"
                           value="{% if data %}{{ data.method_name }}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="inputThrottle" class="col-sm-2 control-label">间隔时间（分钟）:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputThrottle" name="inputThrottle"
                           value="{% if data %}{{ data.throttle }}{% endif %}"
                           placeholder="0" required>
                </div>
            </div>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="inputIssuedTime" class="col-sm-2 control-label">下发延时(小时):</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputIssuedTime" name="inputIssuedTime"
                           value="{% if data %}{{ data.issued_delay }}{% endif %}" required>
                </div>
            </div>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="inputExecuteTime" class="col-sm-2 control-label">执行延时（秒）:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputExecuteTime" name="inputExecuteTime"
                           value="{% if data %}{{ data.exec_delay }}{% endif %}" required>
                </div>
            </div>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="issuedLimitType" class="col-sm-2 control-label">下发限制计数类型:</label>
                <div class="col-sm-2">
                    <select class="form-control input-sm" name="issuedLimitType">
                        <option value=0>根据下发计数</option>
                        <option value=1>根据上报计数</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="inputIssuedCount" class="col-sm-2 control-label">下发限量:</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="inputIssuedCount" name="inputIssuedCount"
                           value="{% if data %}{{ data.issued_count }}{% endif %}" placeholder="-1">
                </div>
            </div>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="inputSingleIssuedCount" class="col-sm-2 control-label">单个用户下发限量:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputSingleIssuedCount" name="inputSingleIssuedCount"
                           value="{% if data %}{{ data.single_issued_count }}{% endif %}" placeholder="-1">
                </div>
            </div>
            一行
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="uploadSuccessCount" class="col-sm-2 control-label">上报成功计数:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="uploadSuccessCount" name="uploadSuccessCount"
                           value="{% if data %}{{ data.upload_success }}{% endif %}" placeholder="-1">
                </div>
            </div>
            <div class="form-group">
                <span style="color:red" class="required">*</span>
                <label for="uploadFailCount" class="col-sm-2 control-label">上报失败计数:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="uploadFailCount" name="uploadFailCount"
                           value="{% if data %}{{ data.upload_fail }}{% endif %}" placeholder="-1">
                </div>
            </div>
            <div class="form-group">
                <label for="orienteeringUuid" class="col-sm-2 control-label">定向UUID:</label>
                <div class="col-sm-4">
                    <input type="file" class="file" id="inputUUIDFile" name="inputUUIDFile">
                </div>
            </div>
            <div class="form-group">
                <label for="issuedOsVersion" class="col-sm-2 control-label">下发系统版本:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="issuedOsVersion" name="issuedOsVersion">
                </div>
            </div>
            <div class="form-group">
                <label for="shieldOsVersion" class="col-sm-2 control-label">屏蔽系统版本:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="shieldOsVersion" name="shieldOsVersion">
                </div>
            </div>
            <div class="form-group">
                <label for="issuedApp" class="col-sm-2 control-label">下发APP:</label>
                <div class="col-sm-2">
                    <select class="selectpicker" id="issuedApp" name="issuedApp" multiple>
                        {% for item in data.apks %}
                            <option value={{ item }}>{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="shieldApp" class="col-sm-2 control-label">屏蔽APP:</label>
                <div class="col-sm-2">
                    <select class="selectpicker" id="shieldApp" name="shieldApp" multiple>
                        {% for item in data.apks %}
                            <option value={{ item }}>{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="issuedDevice" class="col-sm-2 control-label">下发设备:</label>
                <div class="col-sm-2">
                    <select class="selectpicker" id="issuedDevice" name="issuedDevice" multiple>
                        {% for item in data.devices %}
                            <option value={{ item }}>{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="shieldDevice" class="col-sm-2 control-label">屏蔽设备:</label>
                <div class="col-sm-2">
                    <select class="selectpicker" id="shieldDevice" name="shieldDevice" multiple>
                        {% for item in data.devices %}
                            <option value={{ item }}>{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="issuedSdk" class="col-sm-2 control-label">下发SDK:</label>
                <div class="col-sm-2">
                    <select class="selectpicker" id="issuedSdk" name="issuedSdk" multiple>
                        {% for item in data.sdks %}
                            <option value={{ item }}>{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="shieldSdk" class="col-sm-2 control-label">屏蔽SDK:</label>
                <div class="col-sm-2">
                    <select class="selectpicker" id="shieldSdk" name="shieldSdk" multiple>
                        {% for item in data.sdks %}
                            <option value={{ item }}>{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="issuedCountry" class="col-sm-2 control-label">下发国家:</label>
                <div class="col-sm-2">
                    <select class="selectpicker" id="issuedCountry" name="issuedCountry">
                        <option value="中国">中国</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="issuedProvince" class="col-sm-2 control-label">下发省份:</label>
                <div class="col-sm-2">
                    <select class="selectpicker" id="issuedProvince" name="issuedProvince" multiple>
                        <option value="0">--请选择省份---</option>
                        {% for item in data.province %}
                            <option value={{ item.id }}>{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="shieldProvince" class="col-sm-2 control-label">屏蔽省份:</label>
                <div class="col-sm-2">
                    <select class="selectpicker" id="shieldProvince" name="shieldProvince" multiple>
                        <option value="0">--请选择省份---</option>
                        {% for item in data.province %}
                            <option value={{ item.id }}>{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="issuedCity" class="col-sm-2 control-label">下发城市:</label>
                <div class="col-sm-2">
                    <select class="selectpicker" id="issuedCity" name="issuedCity" multiple>
                        <option value="0">--请选择城市---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="shieldCity" class="col-sm-2 control-label">屏蔽城市:</label>
                <div class="col-sm-2">
                    <select class="selectpicker" id="shieldCity" name="shieldCity" multiple>
                        <option value="0">--请选择城市---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-primary" onclick=location="{% url "scripts:index" %}">返回
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

