{% extends "index.html" %}

{% load staticfiles %}

{% block style %}
    <link href="{% static 'bootstrap/css/bootstrap-datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'bootstrap/js/jquery-datatables.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datatables.min.js' %}"></script>
{#    <script src="{% static 'scripts/js/index.js' %}"></script>#}
{#    <script>#}
{#        searchUrlscript = "{% url 'scripts:search' %}";#}
{#    </script>#}
{% endblock %}

{% block content %}
    <div id="content" class="bs-docs-header" tabindex="-1">
        <div class="container">
            <h1>脚本管理</h1>
            <p>支持查询、编辑所有脚本</p>
        </div>
    </div>
    <div class="container">
        <table id="table" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
            <tr>
                <th width="5%">ID</th>
                <th>数据类型</th>
                <th>系统</th>
                <th>脚本名称</th>
                <th>URL地址</th>
                <th>单个用户下发限量</th>
                <th>appId</th>
                <th>下发计数类型</th>
                <th>脚本编号</th>
                <th>日下发量</th>
                <th>生效时间</th>
                <th>失效时间</th>
                <th>状态</th>
                <th>更新时间</th>
                <th>热度</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}