{% extends "index.html" %}

{% load staticfiles %}

{% block style %}
    <link href="{% static 'bootstrap/css/bootstrap-datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'bootstrap/js/jquery-datatables.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datatables.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="content" class="bs-docs-header" tabindex="-1">
        <div class="container">
            <h1>SDK版本管理</h1>
            <p>支持新增SDK版本</p>
        </div>
    </div>
    <div class="container">
        <form class="form-horizontal" method="post" action="{% url "sdks:save" %}" autocomplete="off">
            {% csrf_token %}
            <input name="id" type="hidden" value="{{ data.id }}">
            <div class="form-group">
                <label for="inputSdkName" class="col-sm-2 control-label">sdk版本:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputSdkName" name="inputSdkName"
                           value="{% if data %}{{ data.version }}{% endif %}" placeholder="请输入sdk版本"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputSdkRemark" class="col-sm-2 control-label">备注:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputSdkRemark" name="inputSdkRemark"
                           value="{% if data %}{{ data.remark }}{% endif %}" placeholder="请输入备注信息">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-primary" onclick=location="{% url "sdks:index" %}">返回</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

