{% extends "index.html" %}

{% load staticfiles %}

{% block style %}
    <link href="{% static 'bootstrap/css/bootstrap-datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'bootstrap/js/jquery-datatables.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datatables.min.js' %}"></script>
    <script src="{% static 'devices/js/index.js' %}"></script>
    <script>
        searchUr2 = "{% url 'devices:search' %}";
    </script>
{% endblock %}

{% block content %}
    <div id="content" class="bs-docs-header" tabindex="-1">
        <div class="container">
            <h1>设备管理</h1>
            <p>支持查询、编辑所有设备</p>
        </div>
    </div>
    <div class="container">
        <table id="devices_table" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
            <tr>
                <th width="20%">ID</th>
                <th>厂商</th>
                <th>设备型号</th>
                <th>操作系统版本</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}
