<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="脚本管理平台">
    {% load staticfiles %}{% load versionfiles %}
    <title>后台管理</title>

    <!-- Bootstrap core style -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Documentation extras -->
    <link href="{% static 'bootstrap/css/bootstrap-docs.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'base.css' %}" rel="stylesheet">
    {% block style %}{% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-docs.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.fr.js' %}"></script>
    <script src="{% static 'base.js' %}"></script>
    {% block script %}{% endblock %}
</head>
<body class="bs-docs-home">
<a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
        <span class="skiplink-text">Skip to main content</span>
    </div>
</a>
<header id="top" class="navbar navbar-static-top bs-docs-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="home"><a href="{% url 'index' %}">主页</a></li>
                <li class="dropdown" id="apps">
                    <a href="#" class="dropdown">APP管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'apks:index' %}">我的APP</a></li>
                        <li><a href="{% url 'apks:create' %}">新增APP</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="devices">
                    <a href="#" class="dropdown">设备管理<span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'devices:index' %}">我的设备</a></li>
                        <li><a href="{% url 'devices:create' %}">新建设备</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="sdks">
                    <a href="#" class="dropdown">SDK版本管理<span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'sdks:index' %}">我的SDK版本</a></li>
                        <li><a href="{% url 'sdks:create' %}">新增SDK版本</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="scripts">
                    <a href="#" class="dropdown">脚本管理<span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'scripts:index' %}">我的脚本</a></li>
                        <li><a href="{% url 'scripts:create' %}">新建脚本</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm" style="margin-right: -80px">
                {% if user.is_authenticated %}
                    <li class="disabled"><a href="#">{{ user.last_name }}{{ user.first_name }}{{ user.username }}</a>
                    </li>
                    <li><a href="{% url 'password_change' %}">修改密码</a></li>
                    <li><a href="{% url 'logout' %}">退出</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">登录</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
{% block content %}{% endblock %}
</body>
</html>