{% extends "index.html" %}

{% load staticfiles %}

{% block style %}
    <style>
        .form-auth {
            max-width: 330px;
            padding: 50px;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content" class="bs-docs-header" tabindex="-1">
        <div class="container">
            <h1>用户登录</h1>
            <p>请输入用户名和密码登录。</p>
        </div>
    </div>
    <div class="container">
        {% if form.non_field_errors %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        <form class="form-auth" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">用户名</label>
                <input class="form-control" type="text" id="username" name="username"
                       {% if form.username.value %}value="{{ form.username.value }}"{% endif %} required autofocus>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input class="form-control" type="password" id="password" name="password" required>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
    </div>
{% endblock %}
